# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output
mirage

# Images
*.ppm

# Tags
tags
TAGS

# Code::Blocks project related files
*.cbp
*.depend
*.layout

# Windows make building related files
*.bat